{% extends 'base.html' %}

{% block content %}
<div class="header-actions">
    <h2>スケジュール: {{ selected_date|date:"Y年m月d日" }}</h2>
    <a href="{% url 'logout' %}" class="btn btn-logout">ログアウト</a>
</div>
<form method="post">
    {% csrf_token %}
    <input type="date" name="date" value="{{ selected_date|date:'Y-m-d' }}">
    <input type="submit" value="日付選択" class="btn">
</form>



<table>
    <thead>
        <tr>
            <th>時間</th>
            <th>計画</th>
            <th>振り返り</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
        <tr>
            <td>{{ schedule.hour }}:00</td>
            <td>{{ schedule.plan|default:"" }}</td>
            <td>{{ schedule.reflection|default:"" }}</td>
            <td>
                <a href="{% url 'edit_schedule' schedule.id %}" class="btn btn-edit">編集</a>
                <span class="button-separator">|</span>
                <a href="{% url 'clear_schedule' schedule.id %}" class="btn btn-clear">クリア</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

